.download-icon{
 position:absolute;
 left: 94%;
 top: 3%;
 font-size: 1.7vmin;
 cursor:pointer;
 opacity: 0;
 color: #F0FFFF;
 }
.download-icon:hover{
   font-size: 2vmin;
   transition: 0.5s;
 }
 .search-plus-icon{
   position:absolute;
   left: 48%;
   top: 45%;
   font-size: 3vmin;
   cursor:pointer;
   }
.search-plus-icon:hover{
     font-size: 3.5vmin;
     transition: 0.4s;
   }
.result-author-avatar{
 position:absolute;
 height: 3.5vmin;
 width: 3.5vmin;
 border-radius: 50%;
 bottom: 7%;
 left: 2%;
 cursor: pointer;
 opacity: 0;
}
.result-author-image{
 position:absolute;
 bottom: 7%;
 left: 12%;
 cursor: pointer;
 opacity: 0;
}

img{
 width: 100%;
 cursor:zoom-in;
 }

@media screen and (max-width: 1250px) {
  .download-icon{
  top: 5%;
  left:90%;
  font-size: 2vmin;
  cursor:pointer;

  }

  .download-icon:hover{
    font-size: 2.5vmin;
  }

  .result-author-avatar{
    bottom: 7%;
    left: 2%;
    }
  .result-author-image{
    bottom: 7%;
    left: 16%;
  }


}


@media screen and (max-width: 860px) {
  .download-icon{
    top: 5%;
    left:90%;
    font-size: 4vmin;
    cursor:pointer;

    }
    .download-icon:hover{
       font-size: 5vmin;
     }
     .search-plus-icon{
       top: 45%;
       left:48%;
       font-size: 5vmin;
       cursor:pointer;
     }
   .search-plus-icon:hover{
           font-size: 6vmin;
         }
     .result-author-avatar{
       height: 5vmin;
       width: 5vmin;
       bottom: 7%;
       left: 2%;
       }
   .result-author-image{
       bottom: 7%;
       left: 10%;

     }

}
